Skip to content

Search & run commands
Search & run commands
Ctrl
.


html {
  height: 100%;
  width: 100%;
}

h1 {
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 320px;
  height: 34px;
  left: 37px;
  top: 0px;
  -webkit-text-stroke: 1.3px  #000000;
  
}
.controle {
  position: absolute;
  width: 44px;
  height: 40px;
  left: 246px;
  top: 45px;
  transform: rotate(-14deg);


}

h4 {
  position: absolute;
  width: 242px;
  height: 45px;
  left: 37px;
  top: 20px;

  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #FFFFFF;


}

body {
            background-color: 
#3B57EC;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 754px;
  height: 113px;
  left: 313px;
  top: 120px;
  

  background: #FFFFFF;
  border-radius: 50px;
}
.questao {
  margin-top: 25px;
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 56px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  
}

.containerA {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 280px;
  height: 46px;
  left: 310px;
  top: 338px;

  background: #FFFFFF;
  border-radius: 50px;
}
.opcao1 {
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000000;
}

.containerB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 280px;
  height: 46px;
  left: 310px;
  top: 475px;

  background: #FFFFFF;
  border-radius: 50px;
}

.opcao2 {
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000000;

}
.containerC {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 280px;
  height: 46px;
  left: 800px;
  top: 338px;

  background: #FFFFFF;
  border-radius: 50px;
}

.opcao3 {
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000000;
}

.containerD {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 280px;
  height: 46px;
  left: 800px;
  top: 475px;

  background: #FFFFFF;
  border-radius: 50px;
}

.opcao4 {
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #000000;

}
.sair {
  position: absolute;
  width: 99px;
  height: 60px;
  left: 1220px;
  top: 560px;

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #FFFFFF;


}
.relogio {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1200px;
  top: 35px;


  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.elipseA {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  left: 240px;
  top: 335px;
  align-items: center;

  background: #10FB19;
}

.iconA {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top:2px;
}

.elipseB {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  left: 240px;
  top: 469px;

  background: #F51BB8;
}

.iconB {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 3px;
  top:2px;
}

.elipseC {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  left: 730px;
  top: 336px;

  background: #F51B1B;
}

.iconC {
  position: absolute;
  width: 39px;
  height: 39px;
  left: 12px;
  top: 3px;

  
}

.elipseD {
  position: absolute;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  left: 730px;
  top: 473px;
  background: #F1F51B;
  
}

.iconD {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 6px;
  top: 3px;

  
}

a{
  text-decoration: none;
  color: white;
}

.sombreado {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}