
body {
            background-color: #3B57EC;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

h1 {
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 320px;
  height: 34px;
  left: 37px;
  top: 0px;
  -webkit-text-stroke: 1.3px  #000000;            
}
h2 {
  position: absolute;
  width: 500px;
  height: 55px;
  left: 25px;
  top: 75px;

  font-family: 'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 50px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em; 

  color: #FFFFFF;
}

h4 {
  position: absolute;
  width: 242px;
  height: 45px;
  left: 37px;
  top: 20px;

  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #FFFFFF;
}

button1 {
      position: absolute;
      top: 210px;
      background-color: darkblue; 
      color: white; 
      font-size: 30px; 
      font-family: 'Fredoka', sans-serif;
      padding: 10px 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
    }

button2 {
      position: absolute;
      top: 280px;
      background-color: darkblue; 
      color: white; 
      font-size: 30px; 
      font-family: 'Fredoka', sans-serif;
      padding: 10px 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
    }

button3 {
      position: absolute;
      top: 350px;
      background-color: darkblue; 
      color: white; 
      font-size: 30px; 
      font-family: 'Fredoka', sans-serif;
      padding: 10px 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
    }

button4 {
      position: absolute;
      top: 420px;
      background-color: darkblue; 
      color: white; 
      font-size: 30px; 
      font-family: 'Fredoka', sans-serif;
      padding: 10px 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
    }

button5 {
      position: absolute;
      top: 500px;
      background-color: darkblue; 
      color: white; 
      font-size: 30px; 
      font-family: 'Fredoka', sans-serif;
      padding: 10px 20px; 
      border: none; 
      border-radius: 10px;
      cursor: pointer; 
    }

.linha1 {
  position: absolute;
  width: 1355px;
  height: 0px;
  left: 5px;
  top: 76px;
  border: 1px solid #061A82;
}
.controle {
  position: absolute;
  width: 44px;
  height: 40px;
  left: 249px;
  top: 47px;
  transform: rotate(-14deg);
}
.sombreado {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.perfil{
   position: absolute;
  width: 101px;
  height: 24px;
  left: 1000px;
  top: 32px;

  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #FFFFFF;

}

a{
  text-decoration: none;
  color: white;
}