{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Escolha de Conteúdo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleEscolhaConteúdo.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap" rel="stylesheet">
    
</head>

<body>
  <h1>EDUCAGAMEZ</h1>
  <h4><span class="sombreado">Jogando e aprendendo</span></h4>
  <img class='controle' src='https://i.pinimg.com/originals/13/bf/b4/13bfb4dff8f3bc05e549eaba2349e797.png'>
  <a href ="https://educagamez.giovananogueira.repl.co/paginaPerfil"> 
    <img src="https://api.iconify.design/carbon/user-avatar.svg?color=white&width=65&height=63" style="position:absolute;
    top:3%;
    right:2%;"> 
  </a>
  <hr class='linha1'>

  <h2 style="text-align: center;"><span class="sombreado">O que quer jogar?</span></h2>
</div>
</body>
</html>

  

<button1 onclick="window.location.href='https://educagamez--giovananogueira.repl.co/paginaPerguntas/1'">Soma</button1>

<button2 onclick="window.location.href='https://educagamez--giovananogueira.repl.co/paginaPerguntas/3'">Subtração</button2>

<button3 onclick="window.location.href='https://educagamez--giovananogueira.repl.co/paginaPerguntas/4'">Multiplicação</button3>

<button4 onclick="window.location.href='https://educagamez--giovananogueira.repl.co/paginaPerguntas/5'">Divisão</button4>

<button5 onclick="window.location.href='https://educagamez--giovananogueira.repl.co/paginaPerguntas/6'">Geral</button5>