{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylePerfil.css' %}">
    
</head>
  
<body>
  
  <h1>EDUCAGAMEZ</h1>
  <h4><span class="sombreado">Jogando e aprendendo</span></h4>
  <img class='controle' src='https://i.pinimg.com/originals/13/bf/b4/13bfb4dff8f3bc05e549eaba2349e797.png'>
  <div class='conteudo'> <a href="https://educagamez--giovananogueira.repl.co/paginaEscolhaConteudo"><span class="sombreado">Conteúdos</span></a></div>
    <hr class='linha1'>
  <h2> Meu Perfil </h2>
    <hr class='linha2'>
  <div class='container1'>
    <div class='perfil'> <img src='https://api.iconify.design/carbon/user-avatar.svg?width=70&height=70'> </div>
    <div class='usuario'> Maria12 </div>
    <div class='nome'> Nome: Maria </div>
    <div class='escola'> Escola: insp </div>
    <div class='serie'> Série: 6º ano </div>  
  </div>

  <div class='container2'> 
    <img class='trofeu' src='https://cdn-icons-png.flaticon.com/512/1077/1077196.png'>
    <div class='pont'> Pontuação </div>
    <div class='tot'> Total: Nível 1 </div>
    <div class='soma'> Soma: Nível 1 </div>
    <div class='sub'> Subtração: Nível 1 </div>
    <div class='divisao'> Divisão: Nível 1 </div>
    <div class='mult'> Multiplicação: Nível 1 </div>
    
  
  </div>  

    
</body>
</html>



