{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Página principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylePrincipal.css' %}">
    
</head>
<body>
  <h1>EDUCAGAMEZ</h1>
  <h4><span class="sombreado">Jogando e aprendendo</span></h4>
  <img src="https://i.pinimg.com/originals/13/bf/b4/13bfb4dff8f3bc05e549eaba2349e797.png" style="
    position: absolute;
    width: 44px;
    height: 40px;
    left: 249px;
    top: 47px;
    transform: rotate(-14deg);
">
  <a href= "https://educagamez.giovananogueira.repl.co/paginaLogin" style =" text-decoration: none; 
  margin-bottom: 5px;
  display: block;
  position: absolute;
  top:7%;
  color:#fff;
  font-family:'Fredoka', sans-serif;
  font-style: normal;
  font-size:20px;
  right: 10%;"> Entre aqui </a> 
  <a href ="https://educagamez.giovananogueira.repl.co/paginaPerfil"> 
    <img src="https://api.iconify.design/carbon/user-avatar.svg?color=white&width=65&height=63" style="position:absolute;
    top:3%;
    right:2%;"> 
  </a>
  <hr class='linha1'
    style="
    position: absolute;
    width: 1355px;
    height: 0px;
    left: 5px;
    top: 76px;

    border: 1px solid #061A82;">
  <h3>Jogando e aprendendo</h3>
  <h2>Descubra um mundo de aprendizado divertido e interativo com os jogos!</h2>
  <div class="logo"><img src="https://i.ibb.co/PxLL76B/logo-with-a-video-game-controler-and-math-elements-I-m-sorry-I-m-not-sure-what-you-re-asking-for-1.png"></div>
  <div class="container">
     <div class="introduçoes">INSTRUÇÕES</div>
     <div class="imagem"><img src="https://imgur.com/kREze1m.png" style="width: 900px;margin-top:40px;"> </div>
  </div>
</body>
</html>
